<mat-card>
  <mat-card-title *ngIf="currentQuestion">
    {{currentQuestion.header}}
  </mat-card-title>
  <mat-card-content>
    <table>
      <tr *ngIf="currentQuestion?.type === QuestionType.Textual">
        <td>
          <mat-form-field class="full-width">
            <input [(ngModel)]="currentQuestion.answer" required [pattern]="currentQuestion.validation" matInput #input="ngModel"
              (keyup)='verifyDisabled()' />
          </mat-form-field>
          <div *ngIf="input.errors?.pattern" class="error-message">
            Input not valid.
          </div>
        </td>
      </tr>
      <tr *ngIf="currentQuestion?.type === QuestionType.Numeric">
        <td>
          <mat-form-field class="full-width">
            <input [(ngModel)]="currentQuestion.answer" matInput type="number" min="0" (keyup)='verifyDisabled()'/>
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="currentQuestion?.type === QuestionType.RadioButton">
        <td>
          <mat-radio-group [(ngModel)]="currentQuestion.answer" (change)='verifyDisabled()'>
            <div *ngFor="let choice of currentQuestion.fields" style="padding: .4em">
              <mat-radio-button [value]="choice" color="primary">{{choice}}</mat-radio-button>
            </div>
          </mat-radio-group>
          <mat-form-field *ngIf="currentQuestion.answer == 'Other'">
            <input [(ngModel)]="currentQuestion.otherAnswer" required matInput (keyup)='verifyDisabled()' />
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="currentQuestion?.type === QuestionType.CheckBoxWithImages">
        <td>
          <mat-radio-group (change)='verifyDisabled()'>
            <div *ngFor="let choice of currentQuestion.fields" style="padding: .4em">
              <mat-checkbox [checked]="this.currentQuestion.nextQuestions && this.currentQuestion.nextQuestions?.indexOf(choice.nextQuestionId) >= 0" (change)="checkBoxChanged($event.checked, choice)">{{choice.text}}</mat-checkbox>
            </div>
          </mat-radio-group>
        </td>
      </tr>
      <tr *ngIf="currentQuestion?.type === QuestionType.Form">
        <td>
            <div *ngFor="let field of currentQuestion.fields" style="padding: .4em">
                <mat-form-field class="full-width">
                  <input [(ngModel)]="field.answer" [placeholder]="field.label" required [pattern]="field.validation" matInput #input="ngModel"
                  (keyup)='verifyDisabled()' />
                </mat-form-field>
                <div *ngIf="input.errors?.pattern" class="error-message">
                  Input not valid.
                </div>
              </div>
        </td>
      </tr>

      <tr *ngIf="!currentQuestion">
          <td>
              <h1>{{form.finalMessage}}</h1>
          </td>
        </tr>
      <br>
      <mat-divider></mat-divider>
      <br>
      <tr>
        <td colspan="4" class="content-center" *ngIf="currentQuestion">
          <button color="primary" (click)="submit()" mat-raised-button [disabled]="disabled">Submit</button>
        </td>
      </tr>
     <br>
    </table>
    <button *ngIf="currentQuestion" color="primary" class="right-button" (click)="submit()" mat-raised-button [disabled]="disabled">></button>
    <button *ngIf="currentQuestion" color="warn" class="left-button" (click)="back()" mat-raised-button [disabled]="!currentQuestion.previousQuestionId"><</button>
  </mat-card-content>
</mat-card>

<button color="warn" class="right-button" (click)="reset()" mat-raised-button>Reset</button>
<pre style="color:white">
  {{form | json}}
</pre>
